

/* 
color fonts general: #555 (grey)

color primary:
color secondary: #000
color link visited : #333
color hover- and active : #5ed64b







*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.25%; /* percentege that user's browser go use!*/
}

body {
    font-family: 'EB Garamond','Rubik',sans-serif, serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
}