/*
==========================
========HEADER============
==========================
*/
@media (min-width: 375px) and (max-width: 450px) {
    .header.header {
        padding: 0%;
        background-color: #fff;
    }
    .body {
        width: 100%;
    }
}

.header {
    

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;

    height: 6.6rem;
    padding: 0 4.8rem;
}

.logo {
    height: 10.4rem;
}


/* 
==============================
========NAVEGATION============
==============================
*/

.main-nav-list {
    font-size: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2.2rem;
}


.main-nav-link:link,
.main-nav-link:visited {
    
    border-radius: 9px;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: #5ed64b;
    font-weight: 400;
    font-size: 1.6rem;
    transition: all 0,3s;
}
.main-nav-link:hover,
.main-nav-link:active{
    color: #fff;
    border: 1px #ffffff;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:link {
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    color: #fff;
    background-color: #5ed64b;

}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
    background-color: #26561e;
    color: #fff;
}



/* 
=======================
=======HERO SECTION====
=======================
*/
.section-hero {
    height: 100vh;
    background-image: url(../assets/content/1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    /* background-color: #dff7db; */
    padding: 9.6rem 0;
}

.hero {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns:1fr 1fr ;
    gap: 9.6rem;
    align-items: center;
}

.hero-description {
    margin-bottom: 5.2rem;
    font-size: 1rem;
    line-height: 1.2;
    letter-spacing: 0.25;

}

.hero-img {
    width: 100%;
}



.cliente-texto {
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 2rem;
}

/********************************************/
/* sevices */
/********************************************/
@media (min-width: 375px) and (max-width: 450px) {
    .section-how.section-how {
        margin: auto;
        width: 100%;
        padding: 5.2rem 0;
        align-items: baseline;
        display: block;
    }

    .heading-tertiary.heading-tertiary {
        font-size: 2.0rem;
        margin-bottom: 2.2rem;
        line-height: 1.4rem;
    }
    .heading-secondary.heading-secondary{
        font-size: 2.4rem;
        line-height: 3.2;
        margin-bottom: 2.4;
    }
    .servico-description.servico-description {
        font-size: 1.2rem;
        line-height: 1.2;
    }
    .grid.grid {
        display: grid;
        column-gap: 1rem;
        row-gap: 4.6rem;
        grid-template-columns: repeat(1, 1fr);
    
    }

}
.section-how {
    margin: auto;
    width: 100rem;
    padding: 10.6rem 0;
    align-items: baseline;
}

.servico-description {
    font-size: 1.8rem;
    line-height: 1.8;
}
.servico-img-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.servico-img {
    width: 50%;
}

.servico-number {
    color: #ddd;
    font-size: 8.6rem;
    font-weight: 600;
    margin-bottom: 1.2rem;


}
/********************************************/
/* quem somos */
/********************************************/
.section-quem-somos{
    background-image: url(../assets/content/mulher\ saltando.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 9.6rem, 0;
    
}

.servico-description-quem-somos{
    font-size: 1.8rem;
    line-height:1.2;
}
.quem-somos-text-box {
    border-radius: 9px;
    align-items: center;
    background-color: #fff;
    padding: 1.6rem;
    margin-top: 5.2rem;
    margin-bottom: 9.6rem;
}
.quem-somos-img-box {
    display:flex;
    padding: 1.6rem;
    margin-top: 4.6rem;
    align-items: center;
    justify-content: center;
}
.quem-somos-img {
    width: 90%;
}

/********************************************/
/* nossa hisoria */
/********************************************/
.section-nossa-historia {
    padding: 9.6rem, 0;
}

.servico-description-nossa-historia {
    font-size: 1.8rem;
    line-height: 1.2;

}
.nossa-historia-text-box{
    background-color: #eee;
    border-radius: 9px;
    align-items: center;
    padding: 1.6rem;
    margin-top: 5.2rem;
    margin-bottom: 0.5rem;
}
.margin-nossa-historia {
    background-color: #fff;
    margin: 1.6rem 8.8rem;
}